<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-text ml-5">
        <a class="nav-item nav-link active text-light" href="http://localhost:4200/home"><span style="margin-left:500px;font-size:25px">Home</span></a>
        <a class="nav-item nav-link text-light" href="http://localhost:4200/admin"> <span style="margin-left:50px;font-size: 25px;">Admin</span></a>
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
    </form>
  </nav>