
#admin{
  color: #fff;
  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: -30px;
}

p {
  font-family: Lato;
}
table {
  width: 90%;
  margin: auto;
  margin-top: 25px;
  background-color: #ff5252;
}
.btn-edit {
  text-align: right;
}
h2 {
  text-align: center;
  padding-top: 20px;
}

.table-header {
  width: 90%;
  margin: auto;
  text-align: right;
  margin-bottom: 10px;
}

.button-add-row {
  background: #1b9e1b;
  color: #ffffff;
}

.button-remove-rows {
  background: red;
  color: #ffffff;
  margin-right: 5px;
}

.button-remove {
  color: red;
}

::ng-deep .mat-form-field-infix {
  width: 100% !important;
}

.form-input {
  padding-right: 5px;
}

button{
  box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}